
* {
  box-sizing: border-box;
}

body {
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Garamond','Georgia','Book-antiqua', sans-serif;
}

h2 {
  text-align: center;
  padding: 0;
  color: #003324;
  margin-top : 9%; 
  text-shadow: 0.5px 0.5px rgb(133,130,130);
}

h1 {
  text-align: center;
  padding: 0; 
  text-shadow: 0.5px 0.5px rgb(133,130,130);
}

label {
  font-weight: bold;
}

.linkDecor {
  text-decoration:none;
  color:black;
}

.linkDecor:hover {
  opacity: 0.7;
}

.standardWriting {
  font-weight: bold;
  text-align:center;
  color: #003324;  
}

.ClickToClose {
  color: grey;
  margin-top:-0.9em;
  font-weight: lighter;
  font-size:0.7em;
}

.footerText {
  text-align:right;
  color: #003324; 
  font-style: italic;
}

.smImage{
  border-radius: 5px;
  vertical-align: sub;
}

.container-clickMe {
  position: relative;
  text-align: center;
  color:#003324;
}

.box-shadow {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
	border-radius:10px;
	margin-bottom:1em;
	}
#img1-p1, #img1-p2, #img1-p3, #img2-p1, #img2-p2, #img2-p3, #img3-p1, #img3-p2, #img3-p3 {
  position: absolute;
  visibility: hidden;
  color: #003324;
  font-weight:bold;
  background-color: white;
  border-radius: 30%;
}
    
#img1:hover , #img2:hover, #img3:hover {
  transform: translateY(8px);
  cursor: pointer;
}

.expandingBox {
  position:absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 0;
  width: 100%;
  transition: 0.8s ease;
  background-color: white;
}

.button {
  margin-top: auto;
  padding: 12px 16px;
  font-weight: bold;  
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #003324;
  border: none;
  border-radius: 70px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:hover {
    background-color: rgb(218, 217, 214);
}

.button:active {
  transform: translateY(4px);
}

p.mobile {
   position: absolute;
   bottom: 1%;
   left: 5%;
   font-style: italic;
   font-size: small;
   animation: blink 1s ease-in-out infinite alternate;
}


@keyframes blink {
  from {
   opacity: 10%;
  }
  
  to {
    opacity:100%;
  }
}

p.mobileText {
	font-size:0.8em;
	}
li.responsive {
	margin-bottom:1em;
	list-style-type:circle;
	font-size:small;
	}

ul.responsive {
	margin-top: -1%;
	}
	
.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

/*For mobile*/
[class*="col-"] {
  width: 100%;  
}

@media only screen and (max-width: 600px) {
  .col-m-1 {width:8.33%;}
  .col-m-2 {width:16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}

 h2 {
  font-size: 1em;
	}

 h1 {
  font-size: 1.3em;
	}
.button {
	font-size:1.2em;
	}
 .footerText {
	 font-size:0.5em;
	}

  #img_header_1 {
    width: 80%;
    margin-left: 10%;
	margin-bottom: -3em;
  }

  #img_header_2 {
    width: 80%;
    margin-left: 10%;
	margin-top:-3em;
  }
	
 #h-1 {
    min-height: 7em;
  }
	
   #hidden1 {
    visibility: hidden;
  }
 
   #img1-p1, #img1-p2, #img1-p3, #img2-p1, #img2-p2, #img2-p3, #img3-p1, #img3-p2, #img3-p3 {
  opacity: 0;
}

 
}

/* For tablet */
@media only screen and (min-width: 600px){
  .col-t-1 {width:8.33%;}
  .col-t-2 {width:16.66%;}
  .col-t-3 {width: 25%;}
  .col-t-4 {width: 33.33%;}
  .col-t-5 {width: 41.66%;}
  .col-t-6 {width: 50%;}
  .col-t-7 {width: 58.33%;}
  .col-t-8 {width: 66.66%;}
  .col-t-9 {width: 75%;}
  .col-t-10 {width: 83.33%;}
  .col-t-11 {width: 91.66%;}
  .col-t-12 {width: 100%;}

	.button {
	font-size:1.5em;
	}

  .footerText {
	 font-size:1em;
   }

  #presentation-3 {
    width: 60%;
    left: 20%;
  }

  #img1-p1{
    bottom:1%;
    left: 35%;
  }

  #img1-p2 {
    top: 55%;
    right:10%;
  }

  #img1-p3 {
    top:25%;
    left:35%;
  }

  #img2-p1 {
    bottom:35%;
    left:10%;
  }

  #img2-p2 {
    top: 75%;
    right:5%;
  }

  #img2-p3 {
    top: 25%;
    right:30%;
  }

  #img3-p1 {
    bottom:15%;
    left: 15%
  }

  #img3-p2 {
    top:47%;
    right: 0%
  }

  #img3-p3 {
    top:21%;
    left:45%
  }

  p.mobile {
    display: none;
  }

  #img_header_1 {
    width: 60%;
    margin-top: -10%;
   }

  #h-1 {
    margin-top: -3%;
  }

  #Img_babycrawl {
    margin-left:15%;
    margin-top:10px;
  }
	
  p.mobileText {
	font-size:1em;
	}	

  li.responsive {
	  text-align: left;
	  font-size: medium;
	}
 ul.responsive {
	margin-top: 5%;
	}

 }

/* For desktop */
@media only screen and (min-width: 768px){
  .col-d-1 {width:8.33%;}
  .col-d-2 {width:16.66%;}
  .col-d-3 {width: 25%;}
  .col-d-4 {width: 33.33%;}
  .col-d-5 {width: 41.66%;}
  .col-d-6 {width: 50%;}
  .col-d-7 {width: 58.33%;}
  .col-d-8 {width: 66.66%;}
  .col-d-9 {width: 75%;}
  .col-d-10 {width: 83.33%;}
  .col-d-11 {width: 91.66%;}
  .col-d-12 {width: 100%;}
	
  .button {
	font-size:1.8em;
	}
	
  .footerText {
	 font-size:1em;
   }

  #presentation-3 {
    width: 33.33%;
    left:0%;
  }

  #img1-p1{
    bottom:36%;
    left:16px;
  }

  #img1-p2 {
    top:46%;
    right:16px;
  }

  #img1-p3 {
    top:21%;
    right:40%;
  }

  #img_header_1 {
    width: 30%;
    margin-top: 0;
  }

  #img_header_2 {
    width: 30%;    
  }

  #h-1 {
    width: 40%;
    margin-top: 5%;
  }

  #Img_babycrawl {
    width:50%;
    margin-left:20%;
  }

  p.mobile {
    display: none;
  }

	p.mobileText {
	font-size:1em;
	padding-left:15%;
	padding-right:15%;
	}

}
